.header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
  z-index: 2;
}

.header div {
  margin: 15px;
}

.header img {
  border-radius: 5px;
}

.inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs div {
  min-width: 30vw;
}
.inputs button {
  min-width: 10vw;
}

